{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block content %}
  <article>
    <h1>{{ article.title }}</h1>

    <p class="article-date">Planted {{ article.locale_date }}
      {% if article.locale_modified %}
      - Last Tended {{ article.locale_modified }}
      {% endif %}
      {# TODO: Add seedling/growing/cośtam #}
    </p>
    {{ article.content }}

    <footer>{{ article.footer }}</footer>
  </article>
  {# footer menu #}
  <p>
    <a href="/{{ article.category }}.html">&#8592; ({{ article.category }})</a>,
    <a href="/">(home)</a>
  </p>
{% endblock %}
