<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">Sorebit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Minis</a>
          <div class="dropdown-menu" aria-labelledby="dropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/mini/a-star/dynamic.html">A*</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/mini/monostat/">MonoStat</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/mini/quadtree/dynamic.html">QuadTree</a>
          </div>
        </li>

        <li class="nav-item"><a class="nav-link" href="https://github.com/Sorebit">Github</a></li>
        <li class="nav-item"><a class="nav-link" href="https://gist.github.com/Sorebit">Gist</a></li>
        <li class="nav-item"><a class="nav-link" href="http://www.last.fm/user/sorebit">last.fm</a></li>
      </ul>
    </div>
  </div>
</nav>
