/* Settings? */
$font-size: 17px;
$line-height: 1.61em;
$content-width: 1024px;
$border-radius: .25em;

/* Colors */
$color-text: #333;
$color-heading: #111;
$color-primary: #066;
$color-primary-darker: #033;
$color-primary-lighter: #099;
$color-secondary: #666;
$color-bg-misc: #f4f5f4;
$color-border: #e2e4e2;

/* Fonts */
$font-stack-text: -apple-system, Helvetica, "Open Sans", Roboto, Verdana, Sans-Serif;
$font-stack-headers: "Lato", “Lucida Grande”, "Segoe UI", Sans-Serif;
$font-stack-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

/* Monospace mixin. TODO: Check on other browsers. */
/* linux: ok, windows: ok, android: ok, mac: ?, ios: ? */
@mixin mono {
  font-family: $font-stack-mono;
  font-size: .85em;
}

/* Utilities */

.fr { float: right; }
.cs { color: $color-secondary; }
.ct { text-align: center; }

/* Layout */

html, body {
  font-family: $font-stack-text;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-text;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 1rem;
  height: auto;
}

/* Navigation */

nav {
  padding: 2.5rem 0;
}

/* Footer nav, maybe nav in general */
.nav {
  @include mono;
}

p.nav {
  margin-top: 2.5rem;
}

/* Skip-link */

.skip {
  position: absolute;
  transform: translateY(-200%);
  background-color: $color-primary;
  color: #fff;
  padding: .5em;

  &:focus { transform: translateY(0%); }
}

/* Content */

article {
  margin-bottom: 4rem;

  footer {
    font-style: italic;
    color: $color-secondary;

    &:before {
      content: '— ';
    }
  }
}

img {
  max-width: 100%;
}

p {
  margin: 0 0 1rem 0;
}

/* Rounded corners */
img, code, pre, table {
  border-radius: $border-radius;
}

code {
  @include mono;
  padding: .2em .4em;
  background-color: $color-bg-misc;
  font-style: normal;
}

pre {
  background-color: $color-bg-misc;
  padding: .6em 1em;
  overflow-x: auto;
  line-height: 1.2;

  code {
    padding: 0;
    background: none;
  }
}

blockquote {
  font-style: italic;
  padding: 0 1em;
  margin: 1.75em 0;
  border-left: .33em solid $color-primary-lighter;

  cite {
    color: $color-secondary;

    &:before {
      content: '— ';
    }
  }
}

/* Thematic break */

hr {
  margin: 4em auto;
  height: 1px;
  max-width: 300px;
  border: 0 solid $color-primary-lighter;
  background-color: $color-primary-lighter;
}

/* Tables */
table {
  border-collapse: collapse;
  margin: 1em 0;
}

/* Table responsivity fix */
.tab-res {
  overflow-x: auto;
  max-width: 100%;
}

td, th {
  border: 1px solid $color-border;
  padding: .4em;
}

/* Headings */
/* TODO: Font sizes */

h1, h2, h3, h4,
/* h5, h6, */
header {
  font-family: $font-stack-headers;
  color: $color-heading;
  margin: 1.25em 0 .5em 0;
  font-weight: 600;
}

/* Defaults:
  h1: 2.0rem
  h2: 1.5rem
  h3: 1.17rem
  h4: 1.0rem
  h5: .83rem
  h6: .67rem
*/

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; margin-top: 1.75em; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }

/* NOTE: Unused h5, h6*/

/* NOTE: header is used only for nav */
header {
  font-size: 1.5rem;
  margin: .5em 0;

  a, a:hover, a:active {
    color: $color-heading;
    text-decoration: none;
  }
}

/* NOTE: Used under article h1 and in previews */

.article-date {
  color: $color-secondary;
}

.articles-notes {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.preview {
  border-bottom: 1px solid $color-border;
  margin: 1.25em 0;

  h3 {
    margin-top: 0;
    margin-bottom: .25em;
  }
  .meta {
    margin-bottom: 1em;
  }
}

/* Links */

a {
  color: $color-primary;
  text-decoration: none;

  &:hover, &:active {
    color: $color-primary;
    text-decoration: underline;
  }

  &:active {
    color: $color-primary-darker;
  }
}

ul, ol {
  margin-top: 0;

  /* Nested lists */
  /* NOTE: Nested lists work 3 levels deep (ie. root, level 1, level 2) */
  ul, ol {
    padding-left: 2em;
  }
}

