/* Colors */
$color-text: #333;
$color-primary: #066;
$color-primary-darker: #033;
$color-primary-lighter: #099;
$color-secondary: #888;
$color-bg-misc: #f4f5f4;

/* Fonts */
$font-stack-text: -apple-system, Helvetica, "Open Sans", Roboto, Verdana, Sans-Serif;
$font-stack-headers: "Lato", “Lucida Grande”, "Segoe UI", Sans-Serif;
$font-stack-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

/* Monospace mixin. TODO: Check on other browsers. */
/* linux: ok, windows: ok, android: ok, mac: ?, ios: ? */
@mixin mono {
  font-family: $font-stack-mono;
  font-size: .85em;
}

$code-border-radius: .25em;

/* Layout */

html, body {
  font-family: $font-stack-text;
}

html, body {
  font-size: 17px;
  line-height: 1.61em;
  color: $color-text;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  height: auto;
}

/* Navigation */

nav {
  padding: 2.5rem 0;
}

/* Footer nav, maybe nav in general */
.nav {
  @include mono;
}

/* Skip-link */

.skip {
  position: absolute;
  transform: translateY(-100%);
  background-color: #066;
  color: #fff;
  padding: .66em;

  &:focus { transform: translateY(0%); }
}

/* Content */

article {
  margin-bottom: 4rem;

  footer {
    font-style: italic;
    color: $color-secondary;

    &:before {
      content: '— ';
    }
  }
}

img {
  max-width: 100%;
}

p, img {
  margin: 0 0 1rem 0;
}

code {
  @include mono;
  padding: .2em .4em;
  background-color: $color-bg-misc;
  border-radius: $code-border-radius;
}

pre {
  background-color: $color-bg-misc;
  padding: .6em 1em;
  border-radius: $code-border-radius;
  overflow-x: auto;
  line-height: 1.2;

  code {
    padding: 0;
    background: none;
  }
}

/* TODO: Blockquotes */
blockquote {
  font-style: italic;
  color: $color-secondary;
}

/* Thematic break */

hr {
  margin: 4em auto;
  height: 1px;
  max-width: 300px;
  border: 0 solid $color-primary-lighter;
  background-color: $color-primary-lighter;
}

/* Headings */
/* TODO: Font sizes */

h1, h2, h3, h4,
/* h5, h6, */
header {
  font-family: $font-stack-headers;
  color: $color-text;
  margin: 1.33em 0 .66em 0;
  font-weight: 600;
}

/* Defaults:
  h1: 2.0rem
  h2: 1.5rem
  h3: 1.17rem
  h4: 1.0rem
  h5: .83rem
  h6: .67rem
*/

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; margin-top: 1.66em; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }

/* NOTE: Unused h5, h6*/

/* NOTE: header is used only for nav */
header {
  font-size: 1.5rem;
  margin: 0.66em 0;

  a, a:hover, a:active {
    color: $color-text;
    text-decoration: none;
  }
}

/* NOTE: Used under article h1 and in previews */

.article-date {
  color: $color-secondary;
}

.preview {
  h3 {
    margin-bottom: 0.415rem;
  }
}

/* Links */

a {
  color: $color-primary;
  text-decoration: none;

  &:hover, &:active {
    color: $color-primary;
    text-decoration: underline;
  }

  &:active {
    color: $color-primary-darker;
  }
}

ul, ol {
  margin-top: 0;

  /* Nested lists */
  /* NOTE: Nested lists work 3 levels deep (ie. root, level 1, level 2) */
  ul, ol {
    padding-left: 2em;
  }
}

