/* Colors */
$color-text: #333;
$color-primary: #066;
$color-primary-darker: #033;
$color-primary-lighter: #099;
$color-secondary: #888;
$color-bg-misc: #f1f2f1;

/* Fonts */
$font-stack-text: -apple-system, Helvetica, "Open Sans", Roboto, Verdana, Sans-Serif;
$font-stack-headers: "Lato", “Lucida Grande”, "Segoe UI", Sans-Serif;
$font-stack-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;;

/* Monospace mixin. TODO: Check on other browsers. */
@mixin mono {
  font-family: $font-stack-mono;
}

/* Layout */

html, body {
  font-family: $font-stack-text;
}

html, body {
  font-size: 17px;
  line-height: 1.61em;
  color: $color-text;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
  height: auto;
}

/* Navigation */

nav {
  padding: 2.5rem 0;
}

/* Footer nav, maybe nav in general */
.nav {
  @include mono;
  font-size: .81rem;
}

.skip-link {
  border: 1px $color-primary solid;
  padding: 1em;
}

/* Content */

article {
  margin-bottom: 4rem;

  footer {
    font-style: italic;
    color: $color-secondary;

    &:before {
      content: '— ';
    }
  }
}

img {
  max-width: 100%;
}

p, img {
  margin: 0 0 1rem 0;
}

/* TODO: code, pre */
code {
  @include mono;
  padding: 0.2em 0.4em;
  background-color: $color-bg-misc;
  border-radius: .2em;
}

/* TODO: Blockquotes */
blockquote {
  font-style: italic;
  color: $color-secondary;
}

hr {
  margin: 4em auto;
  text-align: center;
  max-width: 300px;
  border: 0px solid $color-primary-lighter;
  background-color: $color-primary-lighter;
  height: 1px;
}

/* Headers */
/* TODO: Font sizes */

h1, h2, h3,
/*h4, h5, h6, */
header {
  font-family: $font-stack-headers;
  color: $color-text;
  margin: 0.83em 0;
}

h1 {
  font-size: 2rem; /* default: 2.0rem; */
}

h2 {
  font-size: 1.588rem; /* default: 1.5rem; */
}

h3 {
  font-size: 1.26rem; /* default: 1.17rem */
}


/* NOTE: Unused */
/*
h4 {} default: 1.0rem
h5 {} default: .83rem
h6 {} default: .67rem
*/

/* NOTE: header is used only for nav */
header {
  font-size: 1.5rem;
  font-weight: bolder;

  a, a:hover, a:active {
    color: $color-text;
    text-decoration: none;
  }
}

.article-date {
  color: $color-secondary;
}

.preview {
  h3 {
    font-size: 1.25rem;
    margin-bottom: 0.415rem;
  }
}

/* Links */

a {
  color: $color-primary;
  text-decoration: none;

  &:hover, &:active {
    color: $color-primary;
    text-decoration: underline;
  }

  &:active {
    color: $color-primary-darker;
  }
}

ul, ol {
  margin-top: 0;

  /* Nested lists */
  /* NOTE: Nested lists work 3 levels deep (ie. root, level 1, level 2) */
  ul, ol {
    padding-left: 2em;
  }
}

